.btn{
    background-color: navy;
    color: white;
    border: 0;
    width: 60px;
    height: 25px;
    padding-left:0 !important ;

}
.group button {
    background-color: coral;
    color: white;
}
.group input,
.group button {
    display: inline-block;
    border-width: 0;
    font-size: 13px;
    padding: 5px 10px;

}